<header class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</header>

<section class="row">
    <div class="col-md-12">
        <form action="">
        	<div class="input-group">
        		<span class="input-group-btn">
        			<a href="fotos/new" class="btn btn-primary" title="Adicionar uma nova foto">Nova Foto</a>
            	</span>
            	<input type="search" data-ng-model="filtro" data-ng-model-options='{ debounce: 500 }' class="form-control" placeholder="filter" title="Filtrar a lista" autofocus="autofocus" />	
        	</div>
        </form>
    </div>
</section>

<section class="row">
    <meu-painel class="col-md-2 painel-animado" data-ng-repeat="foto in fotos | filter: filtro" data-titulo="{{ foto.titulo }}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </meu-painel>
</section>